// NAV
.fl-page-nav-right {

  .fl-page-nav-wrap {

    ul.navbar-nav {
      margin-top: 5px;

      li {

        & > a {
          padding: 10px;
          text-transform: uppercase;

        }
      }
    }
  }

  .fl-page-nav-search {

    a.fa-search {
      text-decoration: none;
    }
  }
}

ul.coin-subnav.menu {
  background: transparent;

  li {
    display: inline-block;

    a {
      background: transparent;
      border-bottom: 1px solid transparent;
      color: white;
      font-size: 0.8em;
      padding: 5px 10px;
      text-transform: uppercase;

      &:hover {
        background: transparent;
        border-bottom: 1px solid white;
      }
    }

    &.active {

      a {
        border-bottom: 1px solid $__color_yellow;
        color: $__color_yellow;
      }
    }
  }
}

// Autocomplete
.ui-menu .ui-menu-item {
  padding: 10px;
  padding-right: 0;
}