@import 'd3/line';
@import 'd3/macd';
@import 'd3/met_osc';
@import 'd3/charts';

/**
 NEW COIN TEMPLATE
 */

h2.coin-title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;

  i.fa {
    color: $__color_gray;
    display: inline-block;
    font-size: 0.5em;
    vertical-align: top;
  }

  .popover {
    text-transform: none;
  }

  .popover-title {
    text-transform: none;
  }

  .tooltip {
    text-transform: none;

    .tooltip-inner {
      background: $__color_blue;
      font-size: 1.2em;
      max-width: 500px;
    }

    .tooltip-arrow {
      border-top-color: $__color_blue;
    }
  }

  &:after {
    background-color: $__color_yellow;
    content: '';
    display: block;
    height: 3px;
    margin: 15px auto 0 auto;
    width: 10%;
  }
}

header.coin-header {

  .coin-logo {
    font-weight: bold;
    margin: 35px auto 20px auto;
    text-transform: uppercase;
    width: auto;

    img {
      display: inline-block;
      height: auto;
      max-height: 125px;
      max-width: 25%;
    }
  }
}

.coin-categories {
  margin-top: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      text-transform: capitalize;
      margin-right: 3%;
      white-space: normal;
      width: 30%;

      &:nth-child(3) {
        margin-right: 0;
      }

      a {
        background: $__color_gray;
        border-radius: 5px;
        color: white;
        display: block;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 2%;
        margin-right: 2%;
        padding: 12px 0;
        text-align: center;
        text-decoration: none;
        width: 100%;

        &:hover {
          background: $__color_blue;
          color: #FFF;
        }
      }
    }
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  &.description {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.bar {
  padding-bottom: 35px;
  padding-top: 35px;
  margin-bottom: 35px;

  &.blue {
    background: $__color_blue;
  }

  &.gray {
    background: #f4f4f4;
  }

  &.yellow {
    background: lighten( $__color_yellow, 30 );
  }

  // Market Cap Row
  &.market-cap {
    margin-top: 40px;

    .col-sm-3 {
      position: relative;

      .price-ct {
        color: white;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
      }

      .price-nm {
        color: $__color_yellow;
        font-size: 1em;
        font-weight: 100;
        margin-top: 10px;
        text-align: center;
      }

      &:after {
        background-color: $__color_yellow;
        content: '';
        display: block;
        height: 3px;
        margin: 10px auto 0 auto;
        width: 50px;
      }
    }
  }

  &.description {

    p {
      font-size: 1.25em;
      line-height: 1.75em;
    }
  }

  &.disclosure {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;

    h2, h3, h4 {

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      font-size: 1em;
      line-height: 1.25em;
    }
  }
}

h4 {

  i.fa {
    color: $__color_gray;
    display: inline-block;
    font-size: 0.75em;
    vertical-align: top;
  }
}

.container {
  &.summary,
  &.portfolio {
    padding-bottom: 35px;
  }

  h4 {

    .popover {
      text-transform: none;
    }

    .popover-title {
      text-transform: none;
    }
  }

  &.summary {

    p {
      line-height: 1.75em;
    }

    h3.summary-title {
      border-bottom: 1px solid $__color_light_gray;
      padding-bottom: 10px;
      text-transform: capitalize;
    }

    .percentiles {
      padding-top: 30px;

      &--single {
        cursor: pointer;
        margin-bottom: 40px;
        padding-bottom: 10px;
        padding-top: 10px;

        &-score,
        &-label {
          display: inline-block;
          vertical-align: top;
        }

        &-score {
          background: $__color_gray;
          border-radius: 50%;
          color: white;
          font-size: 1.8em;
          line-height: 70px;
          text-align: center;
          width: 70px;
        }

        &-label {
          font-size: 1.25em;
          font-weight: 700;
          line-height: 35px;
          margin-left: 15px;
          position: absolute;
          text-transform: capitalize;
          top: 50%;
          transform: translateY(-50%);
          width: calc( 100% - 95px );
        }

        &:hover {

          .percentiles--single-score {
            background: $__color_blue;
          }
        }
      }

      // Overall
      .percentiles--overall-wrapper {
        height: 165px;

        .percentile-overall {
          padding: 10px;
          position:relative;
          margin-bottom: 0;
          top: 50%;
          transform: translateY(-50%);

          .percentiles--single-score {
            background-color: $__color_yellow;
            font-size: 2.25em;
            line-height: 80px;
            width: 80px;
          }

          .percentiles--single-label {
            font-size: 1.75em;
            width: calc( 100% - 115px );
          }

          &:hover {

            .percentiles--single-score {
              background-color: darken( $__color_yellow, 5 );
            }
          }
        }

      }
    }

  }
}

/// Bubble Data
.bubble-info {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 40px;

  .col-sm-5 {
    margin-right: 0;
    padding-right: 0;
  }

  .col-sm-7 {
    margin-left: 0;
    padding-left: 0;
  }

  .col-sm-4:nth-child(3n+4) {
    clear: both;
  }

  &.social, &.development {
    background: $__color_light_gray;
  }

  .bubble-single {
    margin-bottom: 20px;

    .bubble-title-score {
      display: inline-block;
      padding-left: 5px;
      width: calc( 100% - 60px );
      vertical-align: middle;

      .bubble-title, .bubble-score {
        display: block;

        i.fa {
          color: $__color_gray;
          display: inline-block;
          font-size: 0.65em;
          margin-top: 10px;
          vertical-align: top;
        }
      }

      .bubble-title {
        border-bottom: 1px solid $__color_gray;
        font-size: 0.8em;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
      }
    }

    .bubble {
      background: $__color_gray;
      border-radius: 50%;
      color: white;
      display: inline-block;
      font-size: 1em;
      line-height: 50px;
      text-align: center;
      width: 50px;
      vertical-align: middle;
    }

    &.main-title {
      height: 115px;
      margin: 0;

      .bubble, .bubble-title-score {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .bubble {
        background: $__color_yellow;
        font-size: 1.75em;
        line-height: 80px;
        width: 80px;
      }

      .bubble-title-score {
        padding-left: 10px;
        width: calc( 100% - 85px );

        .bubble-title {
          border: none;
          font-size: 1.75em;
          line-height: 70px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &.price-performance {

    .bubble-single.main-title {

      .bubble-title {
        display: block;
        line-height: normal;
        position: relative;

        i.fa {
          margin-top: -10px;
        }
      }
    }
  }
}

// Upside Downside Table
table#upside-downside-table {

  .upside, .downside {

    span {
      display: inline-block;
      font-size: 0.85em;
      line-height: 22px;
      vertical-align: middle;
      width: 50%;

      &.number-size-lg {
        font-size: 0.82em;
      }
    }

    .fa {
      display: inline-block;
      font-size: 1.2em;
      line-height: 22px;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .upside .fa {
    color: green;
  }

  .downside .fa {
    color: red;
  }

}

// Portfolio Tabs
#portfolioTabs {

  a {
    text-decoration: none;
  }
}

#portfolioTabsContents {

  th {

    .fa:not(.close-popover) {
      color: white;
      display: inline-block;
      font-size: 0.6em;
      margin-left: 5px;
      vertical-align: top;
    }

    .popover {
      color: $__color_gray;
      max-width: none;
      width: 500px;
    }
  }
}


// Non Member Content
body.single-coins {

  .non-member-content {
    background: $__color_light_gray;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 20px;

    .entry-content {

      h2 {
        @extend h2.coin-title;
      }

      p {
        font-size: 1.25em;
        line-height: 1.75em;
        margin: 2em 0;

        a {
          background: $__color_yellow;
          border-radius: 3px;
          color: white;
          display: inline-block;
          font-size: 1em;
          line-height: normal;
          margin: 0 10px;
          padding: 12px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            background: $__color_blue;
          }
        }
      }

      form.rcp_form {
        padding: 0 10px;

        p {
          display: block;
          line-height: normal;
          margin: 0 0 10px 0;
          width: auto;

          input {
            width: 100%;

            &[type="checkbox"] {
              width: auto;
            }

            &[type="submit"]{
              text-transform: uppercase;
            }
          }

          a {
            background: transparent;
            color: $__color_blue;
            font-size: 0.75em;
            padding: 0;
            display: inline;
            text-transform: none;
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
