body.post-type-archive-coins {

  .coin-categories {
    margin: 0 0 10px 0;

    label {
      display: inline-block;
      margin-right: 10px;
      text-transform: uppercase;

      select {
        display: block;
        margin-top: 5px;
      }
    }
  }
}