table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 15px;
  color: $__color_yellow;
  font-family: FontAwesome;
  font-size: 0.75em;
  opacity: 1;
}

table.dataTable thead .sorting:after {
  content: '\f0dc';
}

table.dataTable thead .sorting_asc:after {
  content: '\f0de';
}

table.dataTable thead .sorting_desc:after {
  content: '\f0dd';
}

#dataTable_wrapper {
  
  overflow: auto;

  .dataTables_filter {
    display: inline-block;
    vertical-align: top;
  }

  .dataTables_length {
    float: left;
    margin-top: 20px;
  }

  .dt-buttons {
    float: right;
    margin-left: 50px;
    &:before {
      content: 'Export:';
      display: block;
      float: left;
      font-weight: 700;
      line-height: 34px;
      margin-right: 10px;
    }
  }

  table#dataTable {
    padding: 20px 0;

    tr {

      &:nth-child( odd ) {
        background: $__color_light_gray;
      }

      td {
        padding: 15px 10px;
      }

      &:hover {
        background: $__color_gray;

        td {
          color: white;
        }
      }
    }

    thead > tr > th,
    tfoot > tr > th {
      padding: 10px 30px 10px 10px;
      text-transform: uppercase;
    }
  }
}

body.post-type-archive-coins, body.home {

  .coin-archive-table-wrapper {
    margin-bottom: 40px;
    padding: 0 40px;
  }

  table.coin-archive-table {

    thead {

      & > tr {

        & > th {
          font-size: 1em;
          padding: 10px;
          text-align: center;

          &.sorting_asc,
          &.sorting_desc {
            color: $__color_yellow;
          }
        }
      }
    }

    tr {

      td {
        text-align: center;
      }
    }

    &.fixedHeader-floating {

      thead {
        & > tr {

          & > th {
            padding: 15px;
          }
        }
      }
    }
  }
}

body.home {
  #dataTable_wrapper .dataTables_filter {
    float: right;
  }
}