a {
  color: $__color_yellow;
  text-decoration: underline;
}

ul.menu {

  li {

    a {
      color: $__color_blue;
      text-decoration: none;

      &:hover {
        color: $__color_yellow;
      }
    }
  }
}

table {
  margin: 1em 0;
  width: 100%;

  thead, tfoot {

    tr {

      th {
        background: $__color_blue;
        color: white;
        font-size: 1.5em;
        font-weight: 100;
        padding: 5px;
      }
    }
  }

  tbody {

    tr {

      td {
        font-size: 1.25em;
        padding: 10px;
      }
    }
  }
}

// popovers
.rootmont-popup {
  cursor: pointer;
}

.popover-title {

  .fa {
    cursor: pointer;
  }
}

.popover.top > .arrow {
  display: none;
}