/** COLORS **/
$oldBlue: #002e5b;
$oldYellow: #ffc111;

$__color_blue: #1c3650;
$__color_yellow: #d0924a;

$__color_light_gray: #e4e3e4;
$__color_gray: #7b8a9a;

$__color_text: #808080;

//DataTables
@import './../../node_modules/datatables.net-bs/css/dataTables.bootstrap';
@import './../../node_modules/datatables.net-buttons-bs/css/buttons.bootstrap';
@import './../../node_modules/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap';
@import './../../node_modules/datatables.net-keytable-bs/css/keyTable.bootstrap';
@import './../../node_modules/datatables.net-responsive-bs/css/responsive.bootstrap';
@import 'dataTables';

// General
@import 'general';

// Header
@import 'modules/header';
@import 'modules/footer';

// Coin
@import 'coins/coin-template';
@import 'coins/coin-archive';

// Pages
@import 'pages/home';
@import 'pages/register';
@import 'pages/membership';
@import 'pages/perf-benchmarks';
@import 'pages/dashboard';
