svg text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  fill: #666;
}

.line-chart .axis-label {
  font-size: 14px;
}
.line-chart .axis path,
.line-chart .axis line {
  stroke: #ddd;
}
.line-chart .line {
  stroke-width: 2;
  fill: none;
  pointer-events: none;
  stroke: #ffc111;
}
.line-chart .area {
  fill-opacity: 0.2;
  pointer-events: none;
  fill: #ffc111;
}
.line-chart .focus-circle {
  stroke-width: 2;
  stroke: #ffc111;
  fill: #fff;
}

.oscillator-chart .axis-label {
  font-size: 14px;
}
.oscillator-chart path {
  fill: none;
  stroke-width: 1;
}
.oscillator-chart .zoom-rect {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.oscillator-chart .axis path,
.oscillator-chart .axis line {
  stroke: #bbb;
}
.oscillator-chart path.zero {
  stroke: #bbb;
}
.oscillator-chart path.signal {
  stroke: #ffc111;
  stroke-width: 2;
}
.oscillator-chart path.macd {
  stroke: #1121ff;
  stroke-width: 2;
}
.oscillator-chart path.price {
  stroke: #343a40;
  stroke-width: 2;
}
.oscillator-chart .macd-pos path.difference {
  fill: #22ac38;
}
.oscillator-chart .macd-neg path.difference {
  fill: #e60033;
}
.oscillator-chart .crosshair {
  cursor: crosshair;
}
.oscillator-chart .crosshair path.wire {
  stroke: #bbb;
  stroke-dasharray: 1, 1;
}
.oscillator-chart .crosshair .axisannotation path {
  fill: #bbb;
}
.oscillator-chart .crosshair .axisannotation text {
  fill: #fff;
}
.oscillator-chart .legend-container {
  display: flex;
  justify-content: center;
}
.oscillator-chart .legend-item {
  display: flex;
  align-items: center;
  margin: 0 1em;
  cursor: pointer;
}
.oscillator-chart .legend-circle {
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  margin-right: 0.5em;
}
.oscillator-chart .legend-circle.difference {
  background: #22ac38;
  background: -moz-linear-gradient(
    top,
    #22ac38 0%,
    #22ac38 50%,
    #e60033 51%,
    #e60033 100%
  );
  background: -webkit-linear-gradient(
    top,
    #22ac38 0%,
    #22ac38 50%,
    #e60033 51%,
    #e60033 100%
  );
  background: linear-gradient(
    to bottom,
    #22ac38 0%,
    #22ac38 50%,
    #e60033 51%,
    #e60033 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22ac38', endColorstr='#e60033',GradientType=0 );
}
.oscillator-chart .legend-circle.macd {
  background: #1121ff;
}
.oscillator-chart .legend-circle.signal {
  background: #ffc111;
}
.oscillator-chart .legend-circle.price {
  background: #343a40;
}
.oscillator-chart .legend-circle.mute {
  background: #ddd;
}
.oscillator-chart .legend-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}
.historical.container-fluid {
   padding-bottom: 70px;
   .stacked-row {
      margin-bottom: 70px;
      &:last-child {
         margin-bottom: 0px;
      }
   }
}
