@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.line-charts-wrapper {
  position: relative;

  text {
    font-family: "Lato", sans-serif;
    font-size: 14px;
  }

  /* Tooltip */
  .tooltip {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    position: absolute;
    padding: 12px 16px;
    border: 1px solid #999;
    background: #fff;
    color: #999;
    border-radius: 6px;
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .tooltip-arrow::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: #999 transparent transparent transparent;
  }

  .tooltip-arrow::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }

  .tooltip-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffc111;
  }

  .tooltip-value {
    font-weight: bold;
  }

  .tooltip-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .tooltip-circle {
    background: #ffc111;
  }

  /* Axis */
  .axis path,
  .axis line {
    stroke: #ddd;
  }

  .axis text,
  .axis-label {
    fill: #bbb;
  }

  /* Lines */
  .line {
    stroke-width: 2;
    fill: none;
    pointer-events: none;
    stroke: #ffc111;
  }

  .area {
    fill-opacity: 0.2;
    pointer-events: none;
    fill: #ffc111;
  }

  /* Focus */
  .focus-line {
    stroke: #999;
    stroke-dasharray: 1, 1;
    stroke-width: 1;
  }

  .focus-circle {
    stroke: #fff;
    fill: #ffc111;
  }

  /* Loader */
  .lds-roller-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffc111;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
}