body.user-dashboard {

  footer.fl-page-footer-wrap {
    margin-top: 50px;
  }

  /** Coin Table **/
  #dataTable_wrapper {

    .dt-buttons {
      float: right;
      margin-left: 0;

      &:before {
        display: none !important;
      }

      .btn {
        margin-left: 10px;
      }
    }

    #dashboard-coin-table_filter.dataTables_filter {
      float: left;
      text-align: left;
    }

    .coinDataTableWrapper {
      clear: both;
      max-width: 100%;
      overflow: auto;

      table#dashboard-coin-table {
        clear: both;
      }
    }
  }

  /** Table Modals **/
  #addColModal,
  #addCoinModal {

    .modal-dialog {
      width: 75vw;
    }

    .up-down-wrappper {
      margin: 10px 0;
    }
  }

  /** Movers Tabs **/
  ul.dashboard-movers-tabs {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;

    li {
      display: inline-block;

      //a {
      //  background: #999999;
      //  border: 1px solid #999;
      //  color: white;
      //  display: block;
      //  font-size: 1.25em;
      //  padding: 7px 15px;
      //  text-decoration: none;
      //}

      //&:first-child {
      //
      //  a {
      //    background: #676767;
      //    border: 1px solid #676767;
      //    border-top-left-radius: 5px;
      //    border-bottom-left-radius: 5px;
      //  }
      //}
      //
      //&:last-child {
      //
      //  a {
      //    background: #FFF;
      //    border: 1px solid #999;
      //    border-top-right-radius: 5px;
      //    border-bottom-right-radius: 5px;
      //    color: #676767;
      //  }
      //}

      a {
        background: #FFF;
        border: 1px solid #999;
        color: #676767;
        display: block;
        font-size: 1.25em;
        padding: 7px 15px;
        text-decoration: none;
      }


      &.active {

        a {
          //border-color: black;
          background: #1c3650;
          color: white;
        }
      }
    }
  }

  .range-selector {
    label {
      font-size: 1.5em;
      font-weight: 400;
      line-height: 34px;
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  td#loader-gif {
    background: url('../../images/ajax-loader.gif') center no-repeat;
    padding: 20px 0;
    height: 20px;
  }
}