.fl-callout-photo-left .fl-callout-photo, .fl-callout-photo-left-text .fl-callout-photo {
  width: 20%;
}

.fl-builder-content .fl-callout-content {

  .fl-callout-text-wrap {
    height: 120px;
  }

}

body.home {

  .coin-categories {

    label {
      font-weight: normal;
      margin: 0 10px;
      text-transform: capitalize;

      select {
        margin: 0 5px;
      }
    }
  }
}