// Upgrade Content
.upgrade-content, .non-member-content {
  p {
    font-size: 1.25em;
    line-height: 1.75em;

    a {
      background: $__color_yellow;
      border-radius: 3px;
      color: white;
      display: inline-block;
      font-size: 1em;
      line-height: normal;
      margin: 0 10px;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background: $__color_blue;
      }
    }
  }
}

// Non Member Content
.non-member-content {
  background: $__color_light_gray;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 20px;

  h1 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;

    i.fa {
      color: $__color_gray;
      display: inline-block;
      font-size: 0.5em;
      vertical-align: top;
    }

    .popover {
      text-transform: none;
    }

    .popover-title {
      text-transform: none;
    }

    .tooltip {
      text-transform: none;

      .tooltip-inner {
        background: $__color_blue;
        font-size: 1.2em;
        max-width: 500px;
      }

      .tooltip-arrow {
        border-top-color: $__color_blue;
      }
    }

    &:after {
      background-color: $__color_yellow;
      content: '';
      display: block;
      height: 3px;
      margin: 15px auto 0 auto;
      width: 10%;
    }
  }

  form.rcp_form {
    padding: 0 10px;

    p {
      display: block;
      line-height: normal;
      margin: 0 0 10px 0;
      width: auto;

      input {
        width: 100%;

        &[type="checkbox"] {
          width: auto;
        }

        &[type="submit"]{
          text-transform: uppercase;
        }
      }

      a {
        background: transparent;
        color: $__color_blue;
        font-size: 0.75em;
        padding: 0;
        display: inline;
        text-transform: none;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

#benchmark-tables-wrapper {
  .panel-heading {
    padding: 0;
  }

  .panel-title {
    & > a {
      display: block;
      font-size: 1.25em;
      padding: 10px 15px;
      text-align: left;
      text-decoration: none;

      &:after {
        content: '\f068';
        display: inline-block;
        float: right;
        font-size: 0.5em;
        font-family: FontAwesome;
        line-height: 28px;
        margin-left: 5px;
        vertical-align: top;
      }

      &.collapsed {
        &:after {
          content: '\f067';
        }
      }

      &:not(.collapsed) {
        background: $__color_blue;
        color: $__color_yellow;
      }
    }
  }
}