.rcp_header {
  margin-top: 40px;
}

form.rcp_form {
  p {
    display: inline-block;
    width: 48%;

    input {
      width: 90%;

      &[type="checkbox"],
      &[type="radio"]{
        width: auto;
        margin: 0 7px 0 0;
      }

      &.rcp_discount_code {
        display: inline-block;
        margin: 0 5px 0 0;
        width: auto;
      }
    }
  }

  .rcp_subscription_level {
    .rcp_level {
      margin: 0 7px 0 0;
    }
  }

  table.rcp_registration_total_details {

    tr {

      th {
        background: transparent;
        color: black;
        font-weight: 700;
        padding: 20px 10px;
      }

      td {
        padding: 20px 10px;
      }
    }

    thead {

      th:last-child {
        text-align: right;
      }
    }

    tbody {

      td:last-child {
        text-align: right;
      }
    }

    tfoot {
      border-top: 1px solid $__color_yellow;

      td {
        text-align: right;
      }
    }
  }
}